//-
   This is the main page layout

   User: Martin
   Date: 24-2-13
   Time: 16:24
!!! 5
html
    head
        block head

    body
        block contentHeader
        block content
        block contentFooter